$form-color:#7f8c8d;

.login-container {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to bottom,#2c3e50 300px, #ecf0f1 100px);
  min-height: 100vh;
}

.input-field {
  position: relative;
  width: 97%;
  height: 44px;
  line-height: 44px;
}

label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #d3d3d3;
  transition: 0.2s all;
  cursor: text;
}

input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #d3d3d3;
  box-shadow: none;
  color: #111;

  &:invalid {
    outline: 0;
  }

  &:focus, &:valid {
    border-color: $form-color;
  }

  &:focus ~ label, &:valid ~ label {
    font-size: 14px;
    top: -24px;
    color: $form-color;
  }
}

.box {
  width: 400px;
  padding: 40px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 5px;

  h1 {
    color: black;
    text-transform: uppercase;
    font-weight: 600;
  }

  input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid $form-color;
    padding: 14px 40px;
    outline: none;
    color: $form-color;
    transition: 0.25s;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
      background: $form-color;
      color: white;
    }
  }
}