<div class="float-left">
    <app-nav-template></app-nav-template>
</div>

<div class="float w-50 mx-auto"> 
  <form class="box" #Form="ngForm" (ngSubmit)="onSubmit(Form)">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputUsuario">Usuario</label>
            <input type="text" class="form-control" id="usuario" required [(ngModel)]="usuario.user_alias" name="usuario" placeholder="usuario">
          </div>
          
          <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" ngModel required>
          </div>
        </div>
       <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputNombre">Nombre</label>
                <input type="nombre" class="form-control" id="nombre" name="nombre" placeholder="Nombre" [(ngModel)]="usuario.psna_nomb" required>
            </div>
            <div class="form-group col-md-6">
                <label for="inputApellido">Apellido</label>
                <input type="Apellido" class="form-control" id="apellido" name="apellido" placeholder="Apellido" [(ngModel)]="usuario.psna_apdo" required>
            </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
              <label for="inputNumDocumento">Numero de documento</label>
              <input type="numDocumento" class="form-control" id="documento" name="documento" placeholder="Numero de documento" [(ngModel)]="usuario.psna_ndoc" required>
          </div>
          <div class="form-group col-md-6">
              <label for="inputApellido">Dirección</label>
              <input type="direccion" class="form-control" id="direccion" name="direccion" placeholder="Dirección" [(ngModel)]="usuario.psna_dirc" required>
          </div>
         </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputTelefono">Telefono</label>
                <input type="telefono" class="form-control" id="telefono" name="telefono" placeholder="Teléfono" [(ngModel)]="usuario.psna_telf" required>
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" [(ngModel)]="usuario.psna_email" required>
            </div>
        </div>
        <div class="form-row col-md-6">
            <div class="col-auto my-1">
              <label class="mr-sm-2" for="inlineFormCustomSelect">Nivel de acceso</label>
              <select class="custom-select mr-sm-2" id="rol" name="rol" [(ngModel)]="usuario.rol_rol" required>
                <option selected>seleccione</option>
                <option value="1">Administrador</option>
                <option value="2">Usuario1</option>
                <option value="3">Usuario2</option>
                <option value="4">Usuario3</option>
              </select>
            </div>
        </div>
      <br>  <br>  <br>    
      <input type="submit" class="btn btn-success" value="Enviar">    
    </form>
 </div>


<!--          <input type="checkbox" id="habilitado" (click)="toggleHabilitado()">
          <label for="habilitado">Habilitado</label>-->

