<div class="bg-dark p-1" style="height:100vh; position:fixed; width:15%;">
    <nav>
        <ul class="flex-column mt-5">
            <li><a [routerLink]="['/home-page']" class= "nav-link text-white" href="#">Home</a></li>
            <li><a [routerLink]="['/usuarios']"class= "nav-link text-white" href="#">Log Usuarios</a></li> 
            <li class=""><a [routerLink]="['/usuario']"class= "nav-link text-white" href="#">Crear Usuario</a></li> 
            <br>
            <li class="text-white">Gestor de documentos</li> 
            <li class=""><a [routerLink]="['/type']"class= "nav-link text-white" href="#">Crear tipo de documento</a></li> 
            <li class=""><a [routerLink]="['/receiver']"class= "nav-link text-white" href="#">Nuevo receptor</a></li> 
            <li class=""><a [routerLink]="['/doc']"class= "nav-link text-white" href="#">Nuevo documento</a></li> 
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <a class= "text-white nav-link " href="login" (click)="logout()">Logout</a>
        </ul>
    </nav> 
</div>



<!-- https://mdbootstrap.com/snippets/jquery/mdbootstrap/98624-->


